<li>
	<span id="burger-item">
		{{id}}. {{burger_name}}
	</span>

	{{#unless devoured}}
		<button class="change-devoured" data-id="{{id}}" data-newdevoured="1">
			Devour It!
		</button>
	{{/unless}}

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
	