<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="1">
		{{#if devoured}}DEVOURED IT!{{else}}EAT UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
